<%- include('../partials/top') %>

<%- include('../partials/loader') %>

<%- include('../partials/header') %>


<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">

  <!-- Welcome Slides -->
  <div class="welcome-slides owl-carousel">

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(/public/img/bg-img/1.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="100ms">Upto 500+ Songs Lyrics</h2>
              <h5 data-animation="fadeInUp" data-delay="300ms">
                  Get upto 500+ Songs Lyrics Here
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(/public/img/bg-img/2.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="100ms">Hindi Music Lyrics</h2>
              <h5 data-animation="fadeInUp" data-delay="300ms">
                Get latest Hindi Music Lyrics Here.
              </h5>
              
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(/public/img/bg-img/3.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="100ms">Punjabi Music Lyrics</h2>
              <h5 data-animation="fadeInUp" data-delay="300ms">
                Get Latest Punjabi Music Here.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Latest Hindi Area Start ***** -->
<section class="poca-latest-epiosodes section-padding-50">
  <div class="container">

    <div class="row">
        <div class="col-12 text-center" style="overflow:hidden">
          <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=3764983"></script>
        </div>
        <!-- Latest songs  -->
        <div class="col-md-6 mt-5">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading ">
                <h4>Latest Songs Lyrics</h4>
                <div class="line"></div>
              </div>
            </div>
          </div>
      
          <div class=" poca-portfolio">
            <ul class="list-group">
              <% for (let i=0; i< all.length ; i++) { %>
              
              <% if( i === 5) { %>
                <li class="row list-group-item border-0 mt-1 mb-1" style="overflow:hidden">
                  <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=3764975"></script>
                </li>
              <% } %> 
              <% if( i === 9) { %>
                <li class="row list-group-item border-0 mt-1 mb-1" style="overflow:hidden">
                  <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=3764979"></script>
                </li>
              <% } %> 
              
              <li class="row list-group-item border-0 mt-1 mb-1">
                <a href='/lyrics/<%= all[i]._id %>'>
                <div class="col-12  single_gallery_item entre tutor wow fadeInUp" data-wow-delay="0.2s">
                  <div class="poca-music-area style-2 row  flex-wrap">
                    <div class="col-4 h-100 col-sm-3  p-3 ">
                      <img src="/public/img/bg-img/15.jpg" class="h-100 w-100" alt="">
                    </div>
                    <div class="col-8  col-sm-9 p-2">
                      <h6><%= all[i].Title.length > 20 ? all[i].Title.slice(0,20): all[i].Title %></h6>
                      <div class="meta leading-tight text-xs text-grey-dark">
                        <span class="block mt-1 w-full">
                            Singer:
                            <%= all[i].Singer.split(',')[0] %>

                        </span><br>
                        <span class="block mt-1 w-full">
                            Lyricist:
                            <%= all[i].Lyricist.split(',')[0] %>
                        </span> <br>
                        <span class="block mt-1 w-full">
                          Language:
                          <%= all[i].Language %>
                      </span> 
                      </div>
                      
                    </div>
                  </div>
                </div>
              </a>
              </li> 
              
              <% } %>
            </ul>
      
         
          </div>
        </div>

        <!-- categories songs -->
        <div class="col-md-6 mt-5">


          <!-- Punjabi -->
          <div>
            <div class="row">
              <!-- Section Heading -->
              <div class="col-12">
                <div class="section-heading ">
                  <h4>Latest Punjabi Songs</h4>
                  <div class="line"></div>
                </div>
              </div>
            </div>
        
            <div class=" poca-portfolio">
              <ul class="list-group">
                <% for(let i=0; i< punjabi.length; i++) { %>
                <li class="row list-group-item border-0 mt-1 mb-1">
                <a href='/lyrics/<%= punjabi[i]._id %>'>

                  <div class="col-12  single_gallery_item entre tutor wow fadeInUp" data-wow-delay="0.2s">
                    <div class="poca-music-area style-2 row  flex-wrap">
                      <div class="col-4 h-100 col-sm-3  p-3 ">
                        <img src="/public/img/bg-img/15.jpg" class="h-100 w-100" alt="">
                      </div>
                      <div class="col-8  col-sm-9 p-2">
                        <h6><%= punjabi[i].Title.length > 20 ? punjabi[i].Title.slice(0,20): punjabi[i].Title %></h6>
                        <div class="meta leading-tight text-xs text-grey-dark">
                          <span class="block mt-1 w-full">
                              Singer:
                              <%= punjabi[i].Singer.split(',')[0] %>
                              
                          </span><br>
                          <span class="block mt-1 w-full">
                              Lyricist:
                              <%= punjabi[i].Lyricist.split(',')[0] %>
                              
                          </span> <br>
                          <span class="block mt-1 w-full">
                            Language:
                            <%= punjabi[i].Language %>
                        </span> 
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </li> 
                <% } %>
              </ul>
        
           
            </div>
  
            <div class="row"> 
              <div class="col-12 text-center">
                <a href="/songs/punjabi" class="btn poca-btn mt-3">Load More</a>
              </div>
            </div>
          </div>
          


        <!-- Hindi -->
          <div>
            <div class="row mt-5">
              <!-- Section Heading -->
              
              <div class="col-12">
                <div class="section-heading ">
                  <h4>Latest Hindi Songs</h4>
                  <div class="line"></div>
                </div>
              </div>
            </div>
        
            <div class=" poca-portfolio mt-2">
              <ul class="list-group">

                <% for(let i=0; i< hindi.length; i++ ) { %>
                <li class="row list-group-item border-0 mt-1 mb-1">
                <a href='/lyrics/<%= hindi[i]._id %>'>

                  <div class="col-12  single_gallery_item entre tutor wow fadeInUp" data-wow-delay="0.2s">
                    <div class="poca-music-area style-2 row  flex-wrap">
                      <div class="col-4 h-100 col-sm-3  p-3 ">
                        <img src="/public/img/bg-img/15.jpg" class="h-100 w-100" alt="">
                      </div>
                      <div class="col-8  col-sm-9 p-2">
                        <h6><%= hindi[i].Title.length > 20 ? hindi[i].Title.slice(0,20): hindi[i].Title %></h6>
                        <div class="meta leading-tight text-xs text-grey-dark">
                          <span class="block mt-1 w-full">
                              Singer:
                              <%= hindi[i].Singer.split(',')[0] %>
                          </span><br>
                          <span class="block mt-1 w-full">
                              Lyricist:
                              <%= hindi[i].Lyricist.split(',')[0] %>
                          </span><br> 
                          <span class="block mt-1 w-full">
                            Language:
                            <%= hindi[i].Language %>
                        </span> 
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  </a>
                </li> 
                <% } %>
              </ul>

            </div>
            <div class="row"> 
              <div class="col-12 text-center">
                <a href="/songs/hindi" class="btn poca-btn mt-3">Load More</a>
              </div>
            </div>
          </div>
          
        </div>

        </div>

    </div>
    




</section>




<%- include('../partials/footer') %>


<!-- ******* All JS ******* -->
<!-- jQuery js -->
<script src="/public/js/jquery.min.js"></script>
<!-- Popper js -->
<script src="/public/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/public/js/bootstrap.min.js"></script>
<!-- All js -->
<script src="/public/js/poca.bundle.js"></script>
<!-- Active js -->
<script src="/public/js/default-assets/active.js"></script>
<%- include('../partials/bottom') %>